# CLI and UX
rich==13.7.1                # Formatting terminal outputs
tqdm==4.66.4                # For progress bars (e.g., file uploads, thinking delays (maybe?))
prompt-toolkit==3.0.38      # User input handling
questionary==2.1.0               # For Menus

# Core features
requests==2.31.0            # Making web/API calls
python-dotenv==1.0.1        # Managing API keys in .env file
pyyaml==6.0.1               # Config file

# Gemini API
google-generativeai==0.5.4

# For OpenAI (commented for now)
# openai==1.30.1          